
@import '../../../GlobalStyles/variables';

.hero-image {
    
    background-image: url("../../gfx/hero.jpg");
  
    /* Set a specific height */
    height: 50vh;
    width: auto;
  
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  // mobile size (small)
  .hero-text {
    font-family: $font-h;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    top: 59%;
    right: 0;
    color: white;
    background-color: black;
    padding: 1% 1% 1% 3%;
  
  }

  // desktop size
  @media (min-width: 576px){
    .hero-text {
      font-family: $font-h;
      text-align: left;
      text-transform: uppercase;
      position: absolute;
      top: 59%;
      right: 0;
      color: white;
      background-color: black;
      padding: 1% 21% 1% 3%;
    }
    .hero-image {
    height: 100vh; 
    }
  }

  .yellowtext {
    color: yellow;
}

