
@import '../../../GlobalStyles/variables';

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    background-image: url("../../gfx/hero.jpg");
  
    /* Set a specific height */
    height: 100vh;
    width: auto;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    font-family: $font-h;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    top: 59%;
    right: 0;
    color: white;
    background-color: black;
    padding: 10px 200px 10px 45px;
  
  }

  .yellowtext {
    color: yellow;
}

