@import '../../../GlobalStyles/variables';

body {
  font-family: $font-h;
}

img {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
  padding-bottom: 1%;
}


 .adressbox {
   background-color: black;
   color: white;
   line-height: 25px;
   text-align: center;
   padding: 12% 0 5% 0%;

 }

 .msgform {
   text-align: left;
 }

 .msgform h2 {
  padding-top: 14%;
}

.msgformcomp {
  max-width: 40%;
  margin: 0 auto;
}

.msgform input[type=text] {
  background-color: $defaultcolor;
  color: black;
  border: black 2px solid;
  height: auto;
  width: 80%;
  &:focus {outline: none; background-color: $selectedcolor;}

}

#besked {
  height: 6em;
  width: 80%;
  background-color: yellow;
  border: black 2px solid;
  &:focus {outline: none; background-color: $selectedcolor;}
}

.msgbutton {
  margin: 0 auto;
  text-align: center !important;
  float: none;
  width: 130px;
  
}

.adressbox p{
  margin: 0 ; 
  padding: 0 ;
} 

.msgformcomp p{
  margin: 0 ; 
  padding: 0 ;
} 

a {
 color: white;
 text-decoration: underline;
}

// testing below this line //

.hoverWrapper:hover #hoverShow1 {
  opacity: 0;
  transition: 0.75s ease;
 }
 
 .hoverWrapper a{
   color: black;
 }


 .hoverWrapper #hoverShow1 {
  opacity: 1;
  position: absolute;
  background-color: yellow;
  width: 75%;
  height: auto;
  left: 0;
  top: 26%;
  font-size: 3em;
  font-family: $font-h;
  text-align: right;
  padding-right: 5%;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.75s ease;
 }

 
